<!doctype html>
<title>Online Master's in Computer Science Programs</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<body style="background-image: url('https://wallpaperplay.com/walls/full/1/9/5/28193.jpg');">

<div class=page style="background-color: darkblue;">
  <h1 style="background-color: royalblue; color: midnightblue;">Online Master's in Computer Science Programs</h1>

<div style="float: right; color: deepskyblue; background-color: darkblue; margin-right: 10px;">
     <h2 style="color: deepskyblue;" align="left">Data Info:</h2>
     <p>I collected the data on 3/17/2020 by Google searching until I could not find any new programs.<br>
	For-profit colleges were intentionally left out. Here are notes about what each column shows:</p>
   <ul style="list-style-type: square;">
    <li>In State/Out of State Tuition: Tuition information is the most up to date that I could find and<br>
        does not necessarily include fees.</li>
    <li>Total Cost: Calculated by simply multiplying the Out of State Tuition by the Required Credits.</li>
    <li>Essay: Whether a statement of purpose/other essay is required or not.</li>
    <li>GRE: Whether the GRE is required or not. This is based on a student with a bachelor's in a<br>
        related degree, no work experience, and above a 3.0 gpa.</li>
    <li>Recommendations: Number of letters of recommendation that are required for admission.</li>
    <li>Concentrations: Concentrations listed on school website. General means none were clearly<br> 
        stated.</li>
   </u>
</div>

<form action = "" method = "post">
<div style="margin-left: 15px; margin-bottom: 10px; background-color: darkblue;">
    <div class="line">
        <label for="input">Maximum Total Cost</label>
        <div class="input">
		<input type="radio" id="10000" name="tuition" value="10000">
		<label class="radio-inline" for="10000">$10,000</label>
		<input type="radio" id="25000" name="tuition" value="25000">
		<label class="radio-inline" for="25000">$25,000</label>
		<input type="radio" id="40000" name="tuition" value="40000">
		<label class="radio-inline" for="40000">$40,000</label>
		<input type="radio" id="55000" name="tuition" value="55000">
		<label class="radio-inline" for="55000">$55,000</label>
		<input type="radio" id="70000" name="tuition" value="70000">
		<label class="radio-inline" for="70000">$70,000</label>
        </div>
    </div>
    <div class="line">
        <label for="input">GRE</label>
        <div class="input">
		<input type="radio" id="Yes" name="GRE" value="Yes">
		<label for="Yes">Yes</label><br>
		<input type="radio" id="No" name="GRE" value="No">
		<label for="No">No</label>
        </div>
    </div>
    <div class="line">
        <label for="input">Letters of Recommendation</label>
        <div class="input">
		<input type="radio" id="yes" name="recommendations" value="Yes">
		<label for="Yes">Yes</label><br>
		<input type="radio" id="no" name="recommendations" value="No">
		<label for="No">No</label>
        </div>
    </div>
<input type="submit" name="submit" value="Show Programs" style="background-color: lightgray;">
</div>
</form>

<form action = "" method = "post">
<div class="line" style="background-color: darkblue; margin-left: 15px;">
        <label for="input">Search By:</label>
        <div class="input">
		<input type="radio" id="Uni" name="select" value="Uni" checked>
		<label for="Uni">University</label><br>
		<input type="radio" id="Con" name="select" value="Con">
		<label for="Con">Concentration</label>
        </div>
</div>
<div class="line" style="background-color: darkblue; margin-left: 15px;">
        <label for="input">University/Concentration</label>
        <div class="input">
            <input type="text" id="university" name="university">
        </div>
<p style="color: red; font-weight: bold;">No entries found. Try again!</p>
<input type="submit" name="submit" value="Show Concentrations" style="background-color: lightgray; margin: bottom 10px;">
</div>
</form>
</div>

<div style="background-image: url('https://wallpaperplay.com/walls/full/1/9/5/28193.jpg'); clear:both;" align="center">   
<h1 style="background-color: royalblue; color: midnightblue; text-align:center;">{{variable}}</h1>
  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}
</div> 
</body>